#jbzl{
    display:none;
}
#mmgl{
    display:none;
}
#grxx{
    display:none;
}
#term{
	display:none;
}
#kcname{
    display:none;
}
#kecheng{
       display:none;
       flex-wrap:wrap;
       justify-content:space-around;
}
#message{
	display:none;
}
#Alter{
	display:none;
}
#pict{
	width:200px;
	height:200px;
}